
body{
	background-color: #12202A;
	font-family :'BentonSans-Regular', sans-serif;
	color: #fff;
	/*background-image: url(../img/cartographer.png);*/
}

/* ============================================================= */
/* BENTON SANS */
/* ============================================================= */

/* Benton Sans Regular */
@font-face
{
	font-family: 'BentonSans-Regular';
	src: url('../fonts/BentonSans-Regular.eot');
	src: local('☺'), url('../fonts/BentonSans-Regular.woff') format('woff'), url('../fonts/BentonSans-Regular.ttf') format('truetype'), url('../fonts/BentonSans-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Benton Sans Bold */
@font-face
{
	font-family: 'BentonSans-Bold';
	src: url('../fonts/BentonSans-Bold.eot');
	src: local('☺'), url('../fonts/BentonSans-Bold.woff') format('woff'), url('../fonts/BentonSans-Bold.ttf') format('truetype'), url('../fonts/BentonSans-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.half-container{
	padding-top: 2rem;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 3rem;	
}

.fullSliderImage{
	width: 100%;
	position: relative;
	text-align: center;
}


.attention{	
	padding-top: 2.65rem;
	padding-bottom: 2.65rem;
}
.cntr{
	text-align: center;
	width: 100%;
	color :#6B7882;
}


footer{
	padding-top: 3rem;
	color: #6B7882;
	text-align: center;
}

.navbar-right li a{
	color: #fff !important;
	font-size: 1.8rem;
}

.fullSliderImage .image{
	height: 400px;
	background-image: url(../img/accounts.jpg);
	opacity:0.2;
}

.shader {
    position: absolute;
    bottom: 0;
    height: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0), #12202A);
    top: 0;
    left: 0;
    right: 0;
}

.fullSliderImage .tagline{
	text-align: center;
	width: 33%;
	margin-left: auto;
	margin-right: auto;
	font-size: 3rem;
	line-height: 3.5rem;
}

.fullSliderImage .tagline-holder{
	position: absolute;
	bottom: 25%;
	text-align: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	z-index: 9000;
}

h3.tagline{
	text-align: center;
	color: #29E26F;
}

.list-services{
	padding-left: 0;
}

hr{
	border-top-color: #1E342B;
}

#about{

}

#about p{
	color: #939FA9;
}

.list-services li{
	width: 49%;
	float: left;
	list-style: none;
	padding-left: 0;
	/*border-bottom: solid 1px #1E342B;*/
	padding-bottom: 2.5rem;
	margin-bottom: 0.6rem;
	min-height: 72px;
}

.list-services li a:before{
	display: block;
	float:left;
	content: '';
	margin-right: 4rem;
}

/** icons **/
.startup a::before{
	width: 43px;
	background-image: url(../img/startup.png);
	height: 33px;
	margin-right: 3rem !important;
}

.taxation a::before{
	width: 30px;
	background-image: url(../img/tax.png);
	height: 36px;
}

.registration a::before{
	width: 38px;
	background-image: url(../img/registration.png);
	height: 37px;
}

.filings a::before{
	width: 34px;
	background-image: url(../img/filings.png);
	height: 34px;
}


li.notsure a{
	font-size: 1rem;
	color: rgba(246, 246, 246, 0.4) !important;
}


.full{
	width: 100%;
}
.list-services li:last-child{
	/*width: 100%;*/
}

.list-services li a{
	font-size: 2rem;
	color: #fff;
}

.fullSliderImage{
	
}

.fullSliderImage img{
	width: 100%;
	height: auto;
}

.navbar-default{
	background-color: transparent;
	border-bottom: none;
	padding-top:1.25rem;
}

footer